/* Estilo base de page */
.Page {
    /* border: 8px solid yellow; */
    min-height: 100dvh;
    /* overflow-x: hidden; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    > .mainPage {
        /* border: 5px solid yellowgreen; */
        flex: 1;
        
        padding: 3rem var(--p-lateral);
    }
}
/* Estilo base de page */


.Page > .mainPage.Cadastro {
    /* border: 5px solid red; */
    position: relative;
    padding-top: 0;

    .main_top {
        margin-bottom: 2rem;

        .sub_title {
            max-width: 32rem;
            margin: 0 auto;

            text-align: center;
            text-transform: uppercase;
            line-height: 115%;
        }

        .cta {
            margin-top: 3.5rem;
            display: flex;
            align-items: flex-start;
            gap: 0.5rem;

            > p {
                font-size: 1.7rem;
                max-width: 36rem;
                line-height: 115%;
                letter-spacing: 0.01rem;
            }
        }
    }

    .divider {
        margin: 0 -1.1rem;
    }

    .main_form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;


        > .txt_emphasis {
            letter-spacing: 0.01rem;
            margin-bottom: 0.5rem;
        }

        .msg_feedback {
            display: flex;
            flex-direction: column;

            max-width: fit-content;
            margin: 0 auto;

            .item {
                display: flex;
                align-items: center;
                gap: 0.7rem;
            }
        }

        .alert_terms {
            padding-left: 1rem;
            font-size: 1.4rem;

            .call_terms {
                cursor: pointer;
            }
            
            [disabled] {
                opacity: 1;
            }
        }
    }
}