/* Estilo base de page */
.Page {
    border: 8px solid yellow;
    min-height: 100dvh;
    /* overflow-x: hidden; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    > .mainPage {
        border: 5px solid yellowgreen;
        flex: 1;
        
        padding: 3rem var(--p-lateral);
    }
}
/* Estilo base de page */


.Page > .mainPage.Cadastro {
    /* border: 5px solid red; */
    position: relative;
    padding-top: 0;

    .main_top {

        .sub_title {
            max-width: 35rem;
            margin: 0 auto;

            text-align: center;
            text-transform: uppercase;
        }

        .cta {
            display: flex;
            gap: 0.5rem;

            > p {
                max-width: 35rem;
            }
        }
    }

    .main_form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;


        .msg_feedback {
            display: flex;
            flex-direction: column;

            max-width: fit-content;
            margin: 0 auto;

            .item {
                display: flex;
                align-items: center;
                gap: 0.7rem;
            }
        }

        .alert_terms {
            font-size: 1.4rem;

            .call_terms {
                cursor: pointer;
            }
            
            [disabled] {
                opacity: 1;
            }
        }
    }
}