/* GRID LAYOUT */
.grid {
    width: 100%;
    max-width: 650px;

    margin: 0 auto;
}
/* GRID LAYOUT-FIM */

/* TIPOGRAFIA */
.txt_capitalize {
    text-transform: capitalize;
}

.txt_uppercase {
    text-transform: uppercase;
}

.txt_emphasis {
    text-shadow:
    0 0 0.02rem var(--color-text),
    0.02rem 0 0.02rem var(--color-text),
    -0.02rem 0 0.02rem var(--color-text),
    0 0.02rem 0.02rem var(--color-text),
    0 -0.02rem 0.02rem var(--color-text);
    letter-spacing: 0.1rem;

    &.danger {
        color: var(--color-danger);
    }
    &.bold {
        font-weight: 700;
    }
}

.txt_link {
    /* color: blue; */
    text-decoration: underline;
}
/* TIPOGRAFIA-FIM */


/* ESTADOS  */
.hidden {
    visibility: hidden;
}
.none {
    display: none;
}

.loader {
    min-width: 17px;
    height: 17px;
    border: 2px solid var(--color-w);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader_black {
    width: 17px;
    height: 17px;
    border: 2px solid var(--color-b);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
/* ESTADOS-FIM */



/* ELEMENTOS */
.container_btn {
    margin-top: 1.5rem;

    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn {
    /* background-color: var(--color-bg); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    width: 100%;
    max-width: fit-content;
    height: auto;
    
    border-radius: 10px;
    padding: .5rem 1rem;    

    text-transform: uppercase;
    text-align: center;

    transition: all .3s ease;

    &.primary {
        background-color: var(--color-primary);
        min-height: 3.2rem;
        color: var(--color-w);

        &:hover {
            filter: drop-shadow(0 0 8px var(--color-primary)) brightness(1.1);
        }
        /* &:active {
            filter: drop-shadow(0 0 8px var(--color-primary)) brightness(.9);
            transform: scale(0.9);
        } */
    }
    &.secundary {
        background-color: var(--color-secundary);
        min-height: 3.2rem;
        color: var(--color-w);

        &:hover {
            filter: drop-shadow(0 0 8px var(--color-secundary)) brightness(1.1);
        }
    }
    &.cancel {
        border: 1px solid var(--color-text);
        min-height: 3.2rem;
        color: var(--color-text);

        &:hover {
            filter: brightness(0.9);
        }
    }
    &.danger {
        background-color: var(--color-danger);
        min-height: 3.2rem;
        color: var(--color-w);

        &:hover {
            filter: brightness(1.1);
        }
    }
    &.success {
        background-color: var(--color-success);
        min-height: 3.2rem;
        color: var(--color-w);

        &:hover {
            filter: drop-shadow(0 0 8px var(--color-success)) brightness(1.1);
        }
    }
    &.neutral {
        background-color: var(--color-neutral);
        min-height: 3.2rem;
        color: var(--color-w);

        &:hover {
            filter: drop-shadow(0 0 8px var(--color-neutral)) brightness(1.1);
        }
    }
}

/* .label--select,  */
.input--label {
    display: flex;
    flex-direction: column;
    /* gap: 0.2rem; */

    > label {
        font-size: 1.4rem;
        text-shadow:
        0 0 0.02rem var(--color-text),
        0.02rem 0 0.02rem var(--color-text),
        -0.02rem 0 0.02rem var(--color-text),
        0 0.02rem 0.02rem var(--color-text),
        0 -0.02rem 0.02rem var(--color-text);
        letter-spacing: 0.1rem;

        padding-left: 1rem;
    }
}
.input--label {
    
    .input {
        border: 0.2rem solid var(--color-text);
        background-color: #ffffff8e;
        padding: 0.6rem 0.9rem 0.9rem;
        width: 100%;
        transition: all 0.3s ease-in-out;

        &:focus {
            background-color: #fff;
            transform: scale(1.02);
        }


        &.error {
            border: 0.2rem solid var(--color-danger);
        }
    }

    textarea {
        min-width: 100%;
        max-width: 490px;
        min-height: 7.5rem;
        max-height: 15rem;
    }
}


.divider {
    height: 2rem;

    line-height: 0;
    font-size: 3.2rem;

    overflow: hidden;
    padding-bottom: 2.5rem;
    
    &::before {
        content: '..........................................................................................';
    }
}


.msg_feedback {
    background-color: var(--color-neutral-bg);
    border-radius: 7px;
    width: 100%;
    padding: .7rem;

    &.error {
        background-color: var(--color-danger-bg);
        border: 1px solid var(--color-danger);
        color: var(--color-danger);
    }
    &.warn {
        background-color: var(--color-warning-bg);
        border: 1px solid var(--color-warning-border);
        /* color: var(--color-text); */
    }
}

.icon {
    max-width: 1.5rem;
    transform: translateY(50%);
}
/* ELEMENTOS-FIM */




/* ANIMATIONS */
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotationPulse {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }        
}
/* ANIMATIONS-FIM */