/* Fonte local */
@font-face {
    font-family: 'PF Videotext';
    src: url(../assets/fonts/PFVideotext-regular.otf);
    font-weight: normal;
}

:root {
    --color-primary: #004D43;
    --color-secundary: #04A971;
    
    --color-bg-1: #DCFFE1;
    --color-bg-2: #dddddd;
    --color-bg-3: #a8a8ad;
    --color-text: #004D43;
    --color-border: #004D43;
    
    /* Outras cores */
    --color-w: #fff;
    --color-b: #000;
    --color-success: #16A34A;
    --color-success-bg: #DCFCE7;
    --color-success-border: #116932;
    --color-danger: #df3535;
    --color-danger-bg: #FEE2E2;
    --color-danger-border: #991919;
    --color-warning: #FFC107;
    --color-warning-bg: #FFEDD5;
    --color-warning-border: #92310A;
    --color-neutral: #374151;
    --color-neutral-bg: #FAFAFA;
    --color-neutral-border: #f3f4f6;

    --gray-100: #F3F4F6;
    --gray-200: #E5E7EB;
    --gray-300: #D1D5DC;
    --gray-400: #99A1AF;
    --gray-500: #6A7282;
    --gray-600: #4A5565;
    --gray-700: #364153;
    --gray-800: #1E2939;
    --gray-900: #101828;


    /* Tipografia e Espaçamento */
    --font-main: 'PF Videotext';
    --p-vertical: 4rem;
    --p-lateral: 2.2rem;

    /* color-scheme: light dark; */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

img, svg {
    display: inline-block;
    width: 100%;
    max-width: fit-content;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

input, textarea, select {
    outline: none;
}

ul, ol, li {
    list-style: none;
}

button,
input[type='checkbox'],
input[type='radio'],
label
{
    cursor: pointer;
}
button, label {
    display: inline-block;
    color: var(--color-text);
}
/* RESET */


/* GLOBAL */
html {
    scroll-behavior: smooth;

    font-size: 62.5%; /* Pra usar rem divisivel por 10 */
    @media screen and (max-width: 480px) {
        font-size: 56.5%;
    }
    @media screen and (max-height: 600px) {
        @media screen and (max-width: 340px) {
            font-size: 52%;
        }
    }
}

#root {
    position: relative;
    
    /* border: 10px solid rgb(255, 102, 0); */
    /* height: 100%; */
    min-height: 100vh;
    min-height: 100dvh;
    /* overflow: auto; */
}
body {
    background-color: var(--color-bg-1);
    color: var(--color-text);

    overflow-x: hidden;
}
body, input, textarea, button, select, a {
    font-size: 1.6rem; /* Pra garantir q o padrao seja 16px no navegador*/
    font-family: var(--font-main), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Cantarell, 'Helvetica Neue', sans-serif;
}

[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}
/* GLOBAL */


/* Barra scroll */
@media (min-width: 480px) {
    /* width */
    ::-webkit-scrollbar {
        width: 7px;

        transition: all .3s ease;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--color-bg-2); 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--color-bg-3); 
        border-radius: 2px;

        transition: all .3s ease;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--gray-400); 
    }
}
/* Barra scroll */