.Header {
    /* border: 3px solid var(--color-text); */
    background-color: var(--color-bg-1);
    display: flex;
    justify-content: center;

    padding: 1.8rem var(--p-lateral) 0.5rem;
    box-shadow: 0 0 5px 3px #DCFFE1;

    position: sticky;
    top: 0;
    z-index: 10;
}